.archive-form {
    margin-top: 10px;
    padding-left: 20px;
}

.button {
    font-weight: bold;
}

.content {
    margin-left: 20px;
    margin-right: 20px;
}

.initialdisplay {
    padding: 20px
}

.searches {
    padding-left: 0px;
}
